@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
        align-items: center;
        
        
    }
    .list {
        margin-top: 0;
    }
    .player {
        margin-top: 0;
        width: 100vw;
        height: 100vh;
    }
    .title {
        margin: 0 auto;
        width: 100%;

    }
    .barcontainer{
        left: 5px
  
    }
    .time {
        width: 20px;
    }
    .controller{
        width: 90vw;
    }
    .starttime{
        width: 20px;
        display: block;
        margin-left: 15px;
    }
    .endtime{
        width: 20px;
        display: block;
        margin-right: 15px;
    }
  }
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.rotate {
    animation: spin 5s linear infinite;
  }

* {
    margin: 0;
    padding: 0 ;
}
.hid {
    display: none;
}
.active{
    display: block;
}

.iconpark-icon {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;

}
.title {
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 20px;
   
}

.title-icon {
    position: absolute;
    left: 80%;
    top: 20px;
    height: 50px;
    width: 50px;
    color: rgba(210, 214, 208);
}

.title .music-name {
    font-size: 20px;
}

.title .author {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.player {
    background: linear-gradient(to bottom, rgb(30, 54, 21), rgb(14, 15, 8));
    position: relative;
    width: 450px;
    height: 800px;
    margin-top: 50px;
    overflow: hidden;

}


.cover {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.barcontainer {
    position: absolute;
    width: 380px;
    height: 20px;
    border-radius: 10px;
    margin-left: 30px;
    bottom: 22%;
    background-color: rgba(255, 255, 255, 0.8);
}
.bar {
    width: 10%;
    height: 100%;
    background-color:grey;
    border-radius: 10px;
    transition: all 0.05s linear;
}

.controller {
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;

}
.time {
    color : white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 18%;
    width: 400px;
    margin-left: 21px;
    font-size: 18px;
}
.con {
    width: 40px;
    height: 40px;
    color: #ffe;
}
.list {
    background: linear-gradient(to bottom, rgb(30, 54, 21), rgb(14, 15, 8));


    left: 500px;
    width: 450px;
    height: 800px;
    margin-top: 50px;
    overflow: hidden;
    margin-left: 1px;



}
ol {
    font-size: 18px;
    color: #ffe;
}
ol li {

    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 6 1px 1px;
    cursor: pointer;
}